.payment-stepper {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  table {
    width: 100%;
  }
  .form-card {
    max-width: 80%;
  }

  .payment-table {
    min-height: 60px;
    margin-top: 10px;
    width: 100%;
}

  .description-cell {
    text-align: left;
    margin: 10px auto;
}

.duration-cell2 {
  text-align: center;
}

.duration-cell {
  text-align: center;
}

.duration-cell mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}